<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Genre</title>
  </head>
  <body>
    <%= form_for Genre.new do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.submit %>
    <% end %>
  </body>
</html>
